<!-- Display the booked room information in the web application for the guest booking including:
Guest first name
Guest last name
Booked room short description
Price for the room -->

<h1>booking page</h1>

<!-- <form>
    <% for(var i = 0; i < hotelData.length; i++) { %>
        <li><%= hotelData[i].short_desc%></li>
        <li><%= hotelData[i].room_code%></li>
    <% } %>
</form>
-->
<form>
  <label>
    First Name:
      <input type="text" value="<%= firstName %>">
  </label>
  <label>
    Last Name:
      <input type="text" value="<%= lastName %>">
  </label>
</form>
